@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #000;
            margin: 0;
        }
        #clock {
            font-family: 'Orbitron', sans-serif;
            font-size: 5em;
            color: #ff0000;
        }